.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
Thumbs.db
Desktop.ini
.vscode/
.idea/
coverage/
node_modules
.postman/
postman/globals
test-db.js
.agents
.cursor
.devin
.claude
src/generated/prisma
